@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.tasks{
    width: 45%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
    border-radius: 20px;
}